.panel-bg {
  width: 87.5rem;
  height: 2.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
}

#navbar {
  background-color: rgb(255, 255, 255);
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(0, 98, 226);
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

#navbar a {
  text-decoration: none;
  color: rgb(22, 22, 23);
}

#navbar a:hover {
  color: rgb(212, 22, 212);
}

.Oval {
  margin-left: 6.58rem;
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.Mask {
  width: 1.063rem;
  height: 1.063rem;
  background-color: var(--azure);
}
