.books-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1.25rem 0 0;
  gap: 6rem;
}

.percent-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

.chapter-section {
  width: fit-content;
}

.chapter-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}

.progress-circle {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 1.5rem 0 0;
}

.book-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.value {
  height: 3.438rem;
  margin: 0.063rem 0 0 0;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  width: 6rem;
  height: 1.125rem;
  margin: 0.438rem 0 0.75rem 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.percent-separator {
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
  background-color: #e8e8e8;
}

.current-chapter {
  width: 8.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 0;
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter-number {
  width: 5.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-progress {
  width: 12.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  cursor: pointer;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffffa1;
  border: none;
  outline: none;
}
